#app {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;

  #tree {
    padding-top: 20px;
    text-align: left;
    width: 50%;
    margin: 0 auto;
  }
}

.folder-children {
  padding-left: 20px;
}

// .folder-children p {
//   padding-left: 20px;
// }


.folder > p:hover {
  cursor: pointer
}